*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(43, 42, 42);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
    flex-wrap: wrap;
    
}

div{
    width: 300px;
    height: 340px;
    background-color: rgba(255, 255, 255, 0.938);
    display: inline-block;
    margin: 10px 10px;
    box-shadow: 2px 3px 2px rgba(128, 128, 128, 0.582);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}
#img-card-one{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 20px;
}
h2{
    font-size: 1.5em;
}
h3{
    font-size: 1em;
    color: rgb(117, 117, 117);
    font-weight: bolder;
    padding: 10px 0px;
}
p{
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 15px;
}
section  img{
    width: 50px;
}
